@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --primary: #ff4500;
  --secondary: #77c8c8;
  --gold: #ffd700;
  --dark: #111;
  --grey: #5a5a5a;
  --light: #fffcfa;
}

*{ 
  font-family: 'Mulish', serif;
  font-weight: 300;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-size: 16px;
  overflow-x: hidden;
}

a {
  color: var(--gold);
}

.back {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary);
  border-radius: 3px;
  background-color: var(--primary);
  color: var(--light);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background-color: transparent;
}

.btn:disabled {
  border-color: var(--grey);
  background-color: var(--grey);
  color: var(--grey);
  cursor: not-allowed;
}

.btn:disabled:hover {
  background-color: transparent;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.main-header {
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.8);
  border-bottom: 1px dotted var(--gold); 
}

.main-header .logo a {
  font-family: 'Charm', cursive;
  font-weight: 400;
  font-size: 25px;
  color: var(--primary);
}

.main-header ul {
  display: flex;
}

.main-header ul li {
  margin-left: 20px;
}

.main-header ul li a {
  text-transform: uppercase;
  font-size: 16px;
  transition: all 0.5s ease-in;
}

.main-header ul li a:hover {
  color: var(--primary);
}

section.latest-movies {
  padding: 60px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.5)),
    url('../images/bg.jpg') no-repeat center center/cover;
}

section h2 {
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary)
}

.swiper {
  width: 100%;
  height: 50%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-rating {
  padding: 10px;
  color: var(--gold);
}

.search {
  padding: 60px;
  margin-bottom: 40px;
}

.search .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search .container h2 {
  margin-bottom: 20px;
}

.search .container form {
  width: 100%;
  max-width: 600px;
}

.search-radio label {
  margin-right: 15px;
}

.search-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.search .container form input[type='text'] {
  flex: 6;
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-right: 10px;
  border: 1px dotted var(--gold);
  border-radius: 3px;
  background: transparent;
  color: var(--primary);
} 

.search .container form input[type='text']::placeholder {
  color: var(--grey);
}

.search .container form input[type='text']:focus {
  border-color: var(--primary)
}

.search .container form button {
  
}

.search .container form button:hover {

}