@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Imbue:opsz,wght@10..100,100..900&display=swap');

body {
 font-family: 'Imbue', serif;
 font-weight: 300; 
}

.logo {
  font-family: 'Bytesized', sans-serif;
}